@import url(".cache/wal/colors-waybar.css");

window {
margin: 0px;
border: 1px solid @color2;
background-color: @background;
}

#input {
margin: 5px;
border: none;
color: @foreground;
background-color: @background;
}

#inner-box {
margin: 5px;
border: none;
background-color: @background;
}

#outer-box {
margin: 5px;
border: none;
background-color: @background;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: @foreground;
} 

#entry.activatable #text {
color: @color1;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
background-color: @color1;
}

#entry:selected #text {
font-weight: bold;
}

#img:selected {
    background: none;
}
#text:selected {
color: @background;
background: none;
}
